.ola {
    background-color:red;
    float: left;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    clear: left;
}

.link {
    color: #098654;
    text-decoration: none;
}

.btn {
    width: 100%;
    padding: 12px 30px;
    background-color: #41beab;
    border-radius: 5px;
    transition: background-color .2s ease-in-out,opacity .2s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-top: 50px;
    color: #fff;
}